/*
* The stylesheet for the Story Lines metabox.
*
* Author: Jacob Martella
* Package: Story Lines
* Version: 1.0
*/
#story-lines-meta label {
	margin-right: 5px;
}
.hidden-fields {
	display: none;
}
.story-lines-wrap {
	margin-bottom: 10px;
}
.link-fields {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
#story_lines_highlight {
	width: 100%;
}